%br
.container#tasklist
  = link_to 'New Task', new_task_path, class: 'btn btn-primary'

  %h3(style='text-align: center;') Task list

  %table.table.table-hover
    - if @tasks.blank?
      .alert Tasks not found
    - else
      %thead
        %tr
          %th Id
          %th Date
          %th Name
          %th Description
          %th State
          - if current_user.admin?
            %th Email
          %th Attachment

      %tbody
        = render collection: @tasks, partial: 'tasks/task'